<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216755190091-88nhd63v4c3ntmj6m5p3l5pu90dca8s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216755190091-88nhd63v4c3ntmj6m5p3l5pu90dca8s2</string>
	<key>API_KEY</key>
	<string>AIzaSyCnwKbjd5cW1SDG-dctWwrXD8hjiL_qjxk</string>
	<key>GCM_SENDER_ID</key>
	<string>216755190091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hansaApp</string>
	<key>PROJECT_ID</key>
	<string>hansa-lab-d6e55</string>
	<key>STORAGE_BUCKET</key>
	<string>hansa-lab-d6e55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216755190091:ios:3a09d752ea4af75999d0ce</string>
</dict>
</plist>